<!DOCTYPE html>
<html lang="en">
<head>
	@layout("head.html"){};
</head>

<body class="login-layout">
<div class="main-container">
	<div class="main-content">
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1">
				<div class="login-container">
					<div class="center">
						<h1>
							<i class="ace-icon fa fa-leaf green"></i>
							<!--<span class="red">老姨</span>-->
							<span class="white" id="id-text2">控制台</span>
						</h1>
						<h4 class="blue" id="id-company-text">&copy; taihao</h4>
					</div>

					<div class="space-6"></div>

					<div class="position-relative">
						<div id="login-box" class="login-box visible widget-box no-border">
							<div class="widget-body">
								<div class="widget-main">
									<h4 class="header blue lighter bigger">
										<i class="ace-icon fa fa-coffee green"></i>
										Enter Your Information
									</h4>

									<div class="space-6"></div>

									<form id="loginForm" action="login.action" method="post">
										<fieldset>
											<label class="block clearfix">
														<span class="block input-icon input-icon-right">
															<input type="text" class="form-control" name="username" placeholder="Username" />
															<i class="ace-icon fa fa-user"></i>
														</span>
											</label>

											<label class="block clearfix">
														<span class="block input-icon input-icon-right">
															<input type="password" class="form-control" name="password" placeholder="Password" />
															<i class="ace-icon fa fa-lock"></i>
														</span>
											</label>

											<div class="space"></div>

											<div class="clearfix">
												<label class="inline">
													<span class="lbl"></span>
												</label>

												<button type="button" class="width-35 pull-right btn btn-sm btn-primary" id="loginBtn">
													<i class="ace-icon fa fa-key"></i>
													<span class="bigger-115">登&nbsp;录</span>
												</button>
											</div>

											<div class="space-4"></div>
										</fieldset>
									</form>
								</div><!-- /.widget-main -->

							</div><!-- /.widget-body -->
						</div><!-- /.login-box -->


					</div><!-- /.position-relative -->

					<div class="navbar-fixed-top align-right">
						<br />
						&nbsp;
						<a id="btn-login-dark" href="#">Dark</a>
						&nbsp;
						<span class="blue">/</span>
						&nbsp;
						<a id="btn-login-blur" href="#">Blur</a>
						&nbsp;
						<span class="blue">/</span>
						&nbsp;
						<a id="btn-login-light" href="#">Light</a>
						&nbsp; &nbsp; &nbsp;
					</div>
				</div>
			</div><!-- /.col -->
		</div><!-- /.row -->
	</div><!-- /.main-content -->
</div><!-- /.main-container -->

<!-- basic scripts -->

<!--[if !IE]> -->
<script type="text/javascript">
	window.jQuery || document.write("<script src='${ctxPath}/view/assets/js/jquery.js'>"+"<"+"/script>");
</script>

<!-- <![endif]-->

<!--[if IE]>
<script type="text/javascript">
	window.jQuery || document.write("<script src='${ctxPath}/view/assets/js/jquery1x.js'>"+"<"+"/script>");
</script>
<![endif]-->
<script type="text/javascript">
	if('ontouchstart' in document.documentElement) document.write("<script src='${ctxPath}/view/assets/js/jquery.mobile.custom.js'>"+"<"+"/script>");
</script>

<script type="text/javascript" src="${ctxPath}/view/layer/layer.min.js"></script>
<script type="text/javascript" src="${ctxPath}/view/validate/Validform_v5.3.2_min.js"></script>

<!-- inline scripts related to this page -->
<script type="text/javascript">

	jQuery(function($) {

		$("#loginForm").Validform({
			btnSubmit:"#loginBtn",
			ajaxPost:true,
			beforeSubmit:function(curform){
				$("#loginBtn").attr("disabled","disabled").find("span").text("登录中…");
			},
			callback:function(data){
				console.info(data);
				if("false" == data.state){
					$("#loginBtn").removeAttr("disabled").find("span").text("登 录");
					var obj = $("#loginForm input[data-error='"+data.msg+"']");
					layer.tips(data.msg,obj, {
						guide:0,
						time: 4,
						style : ['background-color:#F26C4F; color:#fff','#F26C4F' ]
					});
				}else{
					window.location.href = "${ctxPath}/";
				}
			},
			tiptype : function(msg, o, cssctl) {
				if (!o.obj.is("form")) {
					if (o.type != 2) {
						layer.tips(msg, o.obj, {
							guide:3,
							time: 4,
							style : ['background-color:#F26C4F; color:#fff','#F26C4F' ]
						});
					}
				}
			},
			tipSweep : true
		});

		$(document).on('click', '.toolbar a[data-target]', function(e) {
			e.preventDefault();
			var target = $(this).data('target');
			$('.widget-box.visible').removeClass('visible');//hide others
			$(target).addClass('visible');//show target
		});
	});

	//you don't need this, just used for changing background
	jQuery(function($) {
		$('#btn-login-dark').on('click', function(e) {
			$('body').attr('class', 'login-layout');
			$('#id-text2').attr('class', 'white');
			$('#id-company-text').attr('class', 'blue');

			e.preventDefault();
		});
		$('#btn-login-light').on('click', function(e) {
			$('body').attr('class', 'login-layout light-login');
			$('#id-text2').attr('class', 'grey');
			$('#id-company-text').attr('class', 'blue');

			e.preventDefault();
		});
		$('#btn-login-blur').on('click', function(e) {
			$('body').attr('class', 'login-layout blur-login');
			$('#id-text2').attr('class', 'white');
			$('#id-company-text').attr('class', 'light-blue');

			e.preventDefault();
		});

	});
</script>
</body>
</html>
